body {
  background-color: #fff8ff;
}

h1 {
  color: navy;
  margin-left: 20px;
}

h2 {
  color: navy;
  margin-left: 30px;
}

h3 {
  color: navy;
  margin-left: 40px;
}

.menu {
  border:2px solid #b100fa;  
}
