body {
  background-color: #fff8ff;
}

h1 {
  color: navy;
  margin-left: 20px;
}

h2 {
  color: navy;
  margin-left: 30px;
}

h3 {
  color: navy;
  margin-left: 40px;
}

.menulink {
  border:1px solid #0f087b;  
  padding: 5pt;
  color:blueviolet ;
  text-decoration: none;
}

.pagemenu {
  display: flex;
  margin: auto;
  border: none;

}

.pagemenuitem {
   background-color:#ffffff;
   padding: 10pt;
}

#hhimage {
  width: 400px;
}

.myartimg {
  /*width: 400px;*/
  height: 400px;
}